<div
  cdkDropList
  [id]="'kanban-column-' + status"
  [cdkDropListData]="tasks"
  [cdkDropListConnectedTo]="connectedLists"
  (cdkDropListDropped)="onTaskDrop($event)"
  class="space-y-2 h-full cursor-pointer"
>
  @if(!isCollapsed) {
  <div class="kanban-body p-6 space-y-6">
    <!-- Skeleton loader -->
    @if(tasks.length === 0) { @if(isLoading) {
    <app-skeleton-loader></app-skeleton-loader>
    } @else {
    <p class="text-gray-500 text-center md:text-left">No tasks available</p>
    } }

    <!-- Task list-->
    @for(task of tasks; track task.id) {
    <div
      cdkDrag
      (cdkDragStarted)="onDragStarted()"
      (cdkDragEnded)="onDragEnded()"
    >
      <app-task
        [task]="task"
        (delete)="deleteTask($event)"
        (update)="updateTask($event)"
      ></app-task>
    </div>
    }
  </div>
  }
</div>
