<div class="space-y-4 mx-auto">
  <!-- Main statistics section -->
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-3">
    <!-- Card: Total Tasks -->
    <div class="bg-purple-500 text-white p-4 rounded-lg shadow-md text-center">
      <h2 class="text-sm font-bold">Total Tasks</h2>
      <p class="text-2xl font-bold">{{ totalTasks() }}</p>
    </div>

    <!-- Dynamically generated cards for each task status -->
    @for(statusCount of statusCounts(); track statusCount.status){
    <div
      [ngClass]="statusCount.class"
      class="text-white p-4 rounded-lg shadow-md text-center"
    >
      <h2 class="text-sm font-bold">
        {{ statusCount.status | formatStatus }}
      </h2>
      <p class="text-2xl font-bold">{{ statusCount.count }}</p>
    </div>
    }
  </div>

  <!-- Completion percentage section -->
  <div class="bg-gray-100 p-4 rounded-lg shadow-md text-center">
    <h2 class="text-sm font-bold">Completion %</h2>
    <p class="text-2xl font-bold text-blue-600">
      {{ getCompletionPercentage() }}%
    </p>
  </div>

  <!-- Bar chart section for task counts by status -->
  <div>
    <h2 class="text-sm font-bold text-center mb-2">Task Counts by Status</h2>
    <ngx-charts-bar-vertical
      [results]="barChartData"
      [view]="[getChartWidth(), getChartHeight()]"
      [customColors]="customColorsCharts"
      [legend]="false"
      [xAxis]="true"
      [yAxis]="true"
      [showGridLines]="true"
    >
    </ngx-charts-bar-vertical>
  </div>
</div>
