<header
  class="bg-blue-600 p-4 flex justify-between items-center fixed top-0 left-0 w-full z-50"
>
  <!-- Title -->
  <h1 class="text-white text-sm sm:text-xl font-bold">{{ title }}</h1>

  <!-- Navigation Links -->
  <nav class="flex space-x-4">
    <a
      routerLink="/home"
      routerLinkActive="font-bold text-yellow-300"
      class="text-white hover:text-yellow-300 transition-colors"
      >Home</a
    >
    <a
      routerLink="/dashboard"
      routerLinkActive="font-bold text-yellow-300"
      class="text-white hover:text-yellow-300 transition-colors"
      >Dashboard</a
    >
  </nav>
</header>
