<div
  class="p-4 border border-gray-300 border-l-8 border-l-blue-500 rounded-lg bg-white shadow-md"
>
  <!-- Edit Mode -->
  @if (isEditing) {
  <!-- Input field for task title -->
  <input
    id="title"
    type="text"
    [(ngModel)]="editableTask.title"
    class="block w-full rounded-lg border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 mb-2"
    placeholder="Enter task title"
  />
  @if (!isValidTitle()) {
  <div class="text-red-500 text-sm mt-2">
    @if (editableTask.title.length < 3) {
    <p>Title must be at least 3 characters</p>
    } @if (editableTask.title.length > 50) {
    <p>Title must be a maximum of 50 characters</p>
    }
  </div>
  }

  <!-- Textarea for task summary -->
  <textarea
    id="summary"
    [(ngModel)]="editableTask.summary"
    class="block w-full rounded-lg border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 mb-2"
    placeholder="Enter task summary"
  ></textarea>
  @if (!isValidSummary()) {
  <div class="text-red-500 text-sm mt-2">
    @if (editableTask.summary.length < 5) {
    <p>Summary must be at least 5 characters</p>
    } @if (editableTask.summary.length > 80) {
    <p>Summary must be a maximum of 80 characters</p>
    }
  </div>
  }

  <!-- Dropdown for selecting task status -->
  <select
    id="status"
    [(ngModel)]="editableTask.status"
    class="block w-full rounded-lg border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 mb-2"
  >
    @for (status of statuses; track status) {
    <option [value]="status">{{ status | formatStatus }}</option>
    }
  </select>

  <!-- Action buttons for saving or canceling edit mode -->
  <div class="flex space-x-2">
    <button
      (click)="saveEdit()"
      [disabled]="!isValidTitle() || !isValidSummary()"
      class="bg-gradient-to-r from-green-500 to-green-700 hover:from-green-600 hover:to-green-800 text-white font-bold py-2 px-4 rounded-lg disabled:opacity-50 disabled:cursor-not-allowed"
    >
      Save
    </button>
    <button
      (click)="cancelEdit()"
      class="bg-gradient-to-r from-gray-500 to-gray-700 hover:from-gray-600 hover:to-gray-800 text-white font-bold py-2 px-4 rounded-lg"
    >
      Cancel
    </button>
  </div>
  }

  <!-- View Mode -->
  @else {
  <!-- Display task title -->
  <h3 class="font-bold text-lg break-words">
    <a [routerLink]="['/tasks', task.id]" class="text-blue-500 hover:underline">
      {{ task.title }}
    </a>
  </h3>

  <!-- Display task description -->
  <p class="text-gray-700 mt-2 break-words">{{ task.summary }}</p>

  <!-- Display task status -->
  <p class="text-sm text-gray-500 mt-2">
    Status: <span class="font-medium">{{ task.status | formatStatus }}</span>
  </p>

  <!-- Action buttons for enabling edit mode or deleting the task -->
  <div class="flex space-x-2 mt-4">
    <button
      (click)="enableEdit()"
      class="bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-600 hover:to-blue-800 text-white font-bold py-2 px-4 rounded-lg"
    >
      Edit
    </button>
    <button
      (click)="deleteTask()"
      class="bg-gradient-to-r from-rose-500 to-rose-700 hover:from-rose-600 hover:to-rose-800 text-white font-bold py-2 px-4 rounded-lg"
    >
      Delete
    </button>
  </div>
  }
</div>
