<form
  [formGroup]="taskForm"
  (ngSubmit)="addTask()"
  class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md space-y-6"
>
  <h1 class="text-xl font-bold text-center md:text-left mb-6">
    Create a New Task
  </h1>

  <!-- Title Field -->
  <div>
    <label for="title" class="block text-sm font-medium text-gray-700"
      >Title</label
    >
    <input
      id="title"
      type="text"
      formControlName="title"
      class="mt-1 block w-full rounded-lg border border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 px-4 py-2"
      placeholder="Task Title"
    />
    @if (title?.invalid && title?.touched) {
    <div class="text-red-500 text-sm mt-2">
      @if (title?.errors?.['required']) {
      <p>Title is required</p>
      } @if (title?.errors?.['minlength']) {
      <p>Title must be at least 3 characters</p>
      }
    </div>
    }
  </div>

  <!-- Description Field -->
  <div>
    <label for="description" class="block text-sm font-medium text-gray-700"
      >Description</label
    >
    <textarea
      id="description"
      formControlName="description"
      class="mt-1 block w-full rounded-lg border border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 px-4 py-2"
      placeholder="Task Description"
    ></textarea>
    @if (description?.invalid && description?.touched) {
    <div class="text-red-500 text-sm mt-2">
      @if (description?.errors?.['required']) {
      <p>Description is required</p>
      } @if (description?.errors?.['minlength']) {
      <p>Description must be at least 5 characters</p>
      }
    </div>
    }
  </div>

  <!-- Status Field -->
  <div>
    <label for="status" class="block text-sm font-medium text-gray-700"
      >Status</label
    >
    <select
      id="status"
      formControlName="status"
      class="mt-1 block w-full rounded-lg border border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 px-4 py-2"
    >
      @for ( status of taskStatuses; track status) {
      <option [value]="status">{{ status }}</option>
      }
    </select>
  </div>

  <!-- Submit Button -->
  <button
    type="submit"
    [disabled]="taskForm.invalid"
    class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg mt-4 disabled:opacity-50"
  >
    Add Task
  </button>
</form>
