<div class="space-y-8">
  <div>
    <app-filter
      [sortKey]="sortKey()"
      [sortDirection]="sortDirection()"
      (filterQueryChange)="onFilterQueryChange($event)"
      (sortKeyChange)="onSortKeyChange($event)"
      (sortDirectionChange)="onSortDirectionChange($event)"
      [filterQuery]="filterQuery()"
    ></app-filter>
  </div>

  <!-- Kanban board layout with responsive columns -->
  <div class="kanban-board kanban-grid grid gap-4">
    @for(taskByStatus of tasksByStatus(); track taskByStatus.status){
    <div
      [ngClass]="{ collapsed: isCollapsed(taskByStatus.status) }"
      class="kanban-column relative bg-white rounded-xl shadow-lg flex flex-col transition-all duration-300"
    >
      <!-- Header della colonna -->
      <div
        (click)="toggleCollapse(taskByStatus.status)"
        class="kanban-header cursor-pointer p-4 rounded-t-xl flex items-center justify-between text-white"
        [ngClass]="getColumnHeaderColor(taskByStatus.status)"
      >
        <h2 class="font-bold text-lg">
          {{ taskByStatus.status | formatStatus }}
          <span
            class="ml-2 bg-gray-900 text-white text-sm font-semibold rounded-full px-2 py-1"
          >
            {{ taskByStatus.tasks.length }}
          </span>
        </h2>

        <!-- Icona di collapse/expand -->
        <button class="collapse-btn">
          @if(isCollapsed(taskByStatus.status)) {
          <i class="fas fa-chevron-right"></i>
          } @else {
          <i class="fas fa-chevron-down"></i>
          }
        </button>
      </div>

      <!-- Corpo della colonna (imploso/esploso) -->
      <div class="h-full">
        <app-kanban-column
          [status]="taskByStatus.status"
          [tasks]="filterAndSortTasks(taskByStatus.tasks)"
          [connectedLists]="connectedLists"
          [isCollapsed]="isCollapsed(taskByStatus.status)"
          [isLoading]="isLoading$()"
          (taskMoved)="updateTask($event.task)"
          (taskDeleted)="deleteTask($event)"
          (taskUpdated)="updateTask($event)"
        ></app-kanban-column>
      </div>
    </div>
    }
  </div>
</div>
