@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-width: 320px;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
}

/* Quando il drag è attivo, forziamo il cursore pointer ovunque */
body.is-dragging {
  cursor: pointer !important;
}

.bg-to-do {
  @apply bg-blue-500;
}

.bg-in-prg {
  @apply bg-red-500;
}

.bg-in-testing {
  @apply bg-yellow-500;
}

.bg-done {
  @apply bg-green-500;
}
